@import '../commons/variables';
@import '../commons/placeholders';
@import '../commons/mixins';

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .micromag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
